* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-rendering: optimizeLegibility;
}

.main {
  margin: 200px auto;
  display: flex;
  width: 80%;
  align-items: center;
}

img {
  height: 600px;
  width: auto;
  padding: 20px;
  margin: 5px;
}

h1 {
  color: #39dede;
  margin-bottom: 50px;
}
p {
  color: #00a3a3;
}

.btn {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  background-color: #ef94cf;
  color: white;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border: 1px solid #ef94cf;
  border: none;
  font-size: 20px;
  margin-top: 50px;
  padding: 5px 15px;
}
